@import url('https://fonts.googleapis.com/css?family=Asap');
@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
    box-sizing: border-box;
}

h1 {
    /*font-family: 'Montserrat';*/
    font-family: "Avenir Next Ultra Light" !important;
    font-size: 48px;
}

.header {
    text-align: center;
    padding: 10px;
    /*font-family: 'Montserrat';*/
    font-family: "Avenir Next Ultra Light" !important;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*a:link {*/

.link {
    text-decoration: none;
    color: black;
}


/*a:visited {*/

.visited {
    text-decoration: none;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 8pt;
    text-align: center;
    font-family: 'Montserrat';
}

.container {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    /*opacity: 0;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.searchbar {
    font-size: 24px;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font-size: 24px;
    font-family: 'Lucida Grande';
    font-style: normal;
    border: none;
    background-color: none;
    background: none;
    overflow: visible;
    border-bottom: 2px solid black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    padding-top: 5px;
}

.description-area {
    font-family: 'Lucida Grande';
    padding-left: 50px;
}


/*
-------------------
*/

.inner-container {
    font-family: "Avenir Medium" !important;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    overflow: hidden;
    width: 100%;
    height: 55%;
    background-color: rgba(43, 87, 219, .77);
    transition: .5s ease;
}

.inner-container:hover .overlay {
    height: 100%;
}

.text {
    position: relative;
    color: rgba(255, 255, 255);
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    top: 5%;
    line-height: 1.3;
    /*left: 5%;*/
    text-align: left;
    padding-bottom: 6%;
}

.inner-container:hover .text {
    top: 5%;
}

.text-hidden {
    visibility: hidden;
    font-weight: normal;
    color: rgba(255, 255, 255);
    color: rgba(255, 255, 255, 1);
}

.inner-container:hover .text-hidden {
    visibility: visible;
    position: absolute;
    color: rgba(255, 255, 255);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    top: 25%;
    text-align: left;
}

.inner-container .bottomtext {
    font-weight: normal;
    /*color: white;*/
    color: rgba(255, 255, 255);
    color: rgba(255, 255, 255, 1);
    width: 90%;
    position: absolute;
    bottom: 0%;
    left: 4%;
    text-align: left;
    padding-top: 15%;
    padding-bottom: 0;
}